@model FilmModel

@{
    <h2>Dodaj film do bazy</h2>
    <form>
        <label>Tytuł</label> @Html.EditorFor(model => model.Title)
        <label>Rok produkcji</label> @Html.EditorFor(model => model.Year)
        <input type="submit" value="Zapisz">
    </form>
}




